
<h4><%= link_to challenge.title, challenge_path(challenge.id)%></h4>
<% if current_user.id == challenge.assigned_user %>
  <p>Sent By: <%= User.find(challenge.user_id).name %></p>
<% end %>
<p>Assigned To: <%= User.find(challenge.assigned_user).name %>
<p>Expires On: <%= challenge.expiration_date %></p>
<p>Challenge Details: <%= challenge.message %></p>
<p>Video: <%= challenge.video %></p>


<% if challenge.challenger_guess && challenge.challengee_guess %>
  <h4>Odds Are 1 in <%= challenge.odds %></h4>
  <h4 class="challenge-ready-text">CHALLENGE READY!</h4>
  <h3 id ="start-countdown" class="btn btn-default"> START COUNTDOWN! </h3>
  <h1 id="count"></h1>
<% end %>

<div id="show-answers" >
  Challenger Guess:<%= challenge.challenger_guess %><br>
  Challengee Guess: <%= challenge.challengee_guess %></h1>
</div>

<p>
  (odds: <%= challenge.odds %>)
  (Challenger's Guess: <%= challenge.challenger_guess %>)
  (Challengee's Guess: <%= challenge.challengee_guess %>)
</p>



<script type="text/javascript">
$(document).ready(function(){
  document.getElementById("start-countdown").onclick = function(){
  (function(){
    var counter = 4;
    var countdown = document.getElementById("count")
    // var showAnswers = document.getElementById("show-answers")

    setInterval(function() {
      if (counter >= 0) {
        countdown.innerHTML = counter;
      }
      if (counter === 0) {
          console.log("IN THE ELSE STATEMENT")
          document.getElementById("show-answers").style.display="block"
          document.getElementById("count").style.display="none"
      }
      counter--;
    }, 1000);
  })();
  }

})


</script>
