
<h3><%= link_to challenge.title, challenge_path(challenge.id)%></h3>
<p class="align-center">Status: <%= challenge.status.upcase %></p>

  <p>
    TEMPORARY
    (odds: <%= challenge.odds %>)
    (Challenger's Guess: <%= challenge.challenger_guess %>)
    (Challengee's Guess: <%= challenge.challengee_guess %>)
  </p>

<table class = "table table-bordered challenge-details-table">
  <thead>
    <th>From</th>
    <th>Challenge Shot</th>
    <th>To</th>
    <th>Response Shot</th>
    <th>Delete?</th>
  </thead>
  <tr>
    <td><%= User.find(challenge.user_id).name%></td>
    <td>
      <% if challenge.challenge_video %>
        <%= image_tag "https://s3-us-west-2.amazonaws.com/oddsroulette/#{@challenge_video}", class: "headshot-image"%>
      <% else %>
        <%= image_tag 'default-user-icon-profile.png' %>
      <% end %>    </td>
    <td><%= User.find(challenge.assigned_user.to_i).name %></td>
    <td>
      <% if challenge.response_video %>
        <%= image_tag "https://s3-us-west-2.amazonaws.com/oddsroulette/#{@response_video}", class: "headshot-image"%>
      <% else %>
        <%= image_tag 'default-user-icon-profile.png' %>
      <% end %>
    </td>
    <td><%= link_to "Delete", challenge_path(challenge), method: :delete, :class=> "btn btn-default delete-button"%>
</td>
  </tr>
  <tr>
    <td colspan="6"><%= challenge.message %></td>
  </tr>
  <% if challenge.response_message %>
    <tr>
      <td colspan="6">
        <h4 class="complete-challenge-text">Challenge Completed!</h4>
        <%= challenge.response_message %>
      </td>
    </tr>
  <% end %>
</table>

<% if current_user.id == challenge.assigned_user.to_i && !challenge.challengee_guess && challenge.status != "declined" %>
  <p class="your-move">
    Your Move!
  </p>
<% end %>

<div class="expiration-date">
  Expires In: <%= distance_of_time_in_words(challenge.expiration_date, Time.now)%></span>
</div>
