<table class = "table table-bordered challenge-details-table">
  <thead>
    <th>From</th>
    <th>To</th>
    <th>Delete?</th>
  </thead>
  <tr>
    <td><%= User.find(challenge.user_id).name%></td>
    <td><%= User.find(challenge.assigned_user.to_i).name %></td>
    <td><%= link_to "Delete", challenge_path(challenge), method: :delete, :class=> "btn btn-default delete-button"%></td>
  </tr>
  <tr>
    <td colspan="3"><%= challenge.message %></td>
  </tr>
  <% if challenge.response_message %>
    <tr>
      <td colspan="6">
        <h4 class="complete-challenge-text">Challenge Completed!</h4>
        <%= challenge.response_message %>
      </td>
    </tr>
  <% end %>
</table>
