<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="row">
      <div class="navbar-header">
        <% if current_user %>
        <%= link_to 'What Are The Odds?', challenges_path, class: 'navbar-brand' %>
        <% else %>
        <%= link_to 'What Are The Odds?', root_path, class: 'navbar-brand' %>
        <% end %>
      </div>
      <div id="navbar">
        <ul class="nav navbar-nav pull-right">
          <% if current_user && has_pending_challenges? %>
            <li> <%= link_to 'PENDING CHALLENGES', challenges_path,  class: "challenge-alert" %> </li>
          <% end %>
          <% if current_user %>
            <li><%= link_to 'New Challenge', new_challenge_path %> </li>
            <li><%= link_to 'Challenge Index', challenges_path %></li>
            <li><%= link_to 'Logout', logout_path, method: :delete %></li>
            <li><%= image_tag current_user.picture, alt: current_user.name %></li>
          <% else %>
            <li><%= link_to 'Log In', '/auth/facebook' %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</nav>
