<h3>Start A Conversation!</h3>
<div class="post-message-form">

  <%= form_for @post, method: :post do |f| %>
    <%= f.text_area :body, placeholder: 'Enter a message!' %>

    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :challenge_id, :value => @challenge.id %>
  <%= f.submit "Post Message!", class: "btn btn-default" %>
  <% end %>
</div>

<div class="conversation">
  <% if @challenge.posts.any? %>
    <% @posts.each do |post| %>
      <table class="table table-bordered">
        <tr>
          <td><%= image_tag "#{User.find(post.user_id).picture}"%></td>
          <td><%= post.body %></td>
          <td>Sent:<br>
            <%= post.created_at %>
          </td>
        </tr>
      </table>
    <% end %>
  <% end %>
</div>
