
<h1>Challenge A Friend!</h1>

<div class="row text-friend">
  <h4>Text A Friend to Join!</h4>
  <%= form_for :text, url: '/texts/send_text_message', method: :post do |f| %>
  <%= f.text_field :target_phone_number %>
  <%= f.submit "Send Text!", class: "btn btn-default" %>
  <% end %>
</div>
<br>

<%= form_for @challenge, :html => {class: "new-challenge-form"}, :multipart => true do |f| %>
  <%= render partial: 'partials/errors', locals: {target: @challenge} %>
  <div class="row">
    <div class="col-md-6">
      <%= f.text_field :title, placeholder: 'Challenge Title' %>
      <br>

      <%= f.text_area :message, placeholder: 'What Are The Odds...' %>
      <br>
    </div>

    <div class="col-md-6">
      <% if current_user.friends %>
      <%= f.label :assigned_user, "Send To:" %>
      <%= f.select(:assigned_user, current_user.friends.map do |friend|
        [friend.name, friend.id]
      end)%>
      <% end %>
      <br>

      <%= f.label :expiration_date, "Expiration Date Label" %>
      <%= f.date_select :expiration_date, :order => [:day, :month, :year] %>
      <br>
    </div>

    <div class="col-md-8 col-md-offset-2">

      <div id="container" class="new_camera">
        NEW ELEMENT GOES HERE
      </div>
    | <a id="record-button">Record Audio</a> |
      <a id="stop-button">Stop</a> |
      <a id="save-button">Save</a> |
    </div>
  </div>

  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.submit "Send Challenge!", class: "btn btn-default" %>
<% end  %>
