
<h1>Challenge A Friend!</h1>

<%= form_for @challenge, :html => {class: "new-challenge-form"}, :multipart => true do |f| %>
  <%= render partial: 'partials/errors', locals: {target: @challenge} %>
  <div class="row">
    <div class="col-md-6">
      <%= f.text_field :title, placeholder: 'Challenge Title' %>
      <br>

      <%= f.text_area :message, placeholder: 'What Are The Odds...' %>
      <br>
    </div>

    <div class="col-md-6">
      <% if current_user.friends %>
      <%= f.label :assigned_user, "Send To:" %>
      <%= f.select(:assigned_user, current_user.friends.map do |friend|
        [friend.name, friend.id]
      end)%>
      <% end %>
      <br>

      <%= link_to "Invite A Friend By Text!", '#' %>
      <br>

      <%= f.label :expiration_date, "Expiration Date Label" %>
      <%= f.date_select :expiration_date, :order => [:day, :month, :year] %>

      <br>

      <%= f.label :challenge_video, "Record It! (optional)" %>
      <camera id='new_camera' data-app-id='a-a6486a40-c536-0133-4d8a-12819bc4053b'></camera>
      <video id='new_video' data-uuid=''></video>

      <%= link_to "Stop Recording", id: 'stopRecording', class: 'btn btn-default' %>
      <%= link_to "Save", id: 'saveRecording', class: 'btn btn-default' %>
      <%= link_to "GetVideo", id: 'getNewVideo', class: 'btn btn-default' %>
      <br>
    </div>
  </div>

  <%= f.submit "Send Challenge!", class: "btn btn-default" %>
<% end  %>

<script>
$('document').ready(function(){
  CameraTag.observe('new_camera', "initialized", function(){
    myCamera = CameraTag.cameras["new_camera"];
  });

  $('#stopRecording').on('click', function(){
    myCamera.stopRecording();
  });

  $('#saveRecording').on('click', function(){
    myCamera.publish();
    $('#new_video').data('uuid', 'something');
  });
  $('#getNewVideo').on('click', function(){
    myCamera.getVideo();
  });

});
</script>
