
<div class="row">
  <div class="show-challenge-block col-md-6">
    <%= render partial: 'partials/challenge_details', locals: {challenge: @challenge} %>

    <% if @challenge.status == "pending" && @challenge.assigned_user.to_i == current_user.id && !@challenge.challengee_guess %>

      <%= link_to "Accept Challenge!", edit_challenge_path(@challenge), class: "btn-default btn accept-button"%>

      <%= form_for @challenge do |f| %>
        <%= f.hidden_field :status, :value => "declined" %>
        <%= f.submit "Nope!", class: "btn btn-default"%>
      <% end %>

    <% end %>

    <% if @challenge.status == "accepted" && @challenge.user_id == current_user %>
      <%= link_to "Guess A Number!", edit_challenge_path(@challenge), class: "btn-default btn accept-button"%>
    <% end %>

    <% if @challenge.challengee_guess && !@challenge.challenger_guess%>
      <p>  Waiting For Other Guess!</p>
    <% end %>

    <% if @challenge.status == "pending" && @challenge.user_id == current_user  %>
      <p>WAITING FOR CHALLENGE TO BE ACCEPTED</p>
    <% end %>

    <% if @challenge.challenger_guess && @challenge.challengee_guess %>
      <h4>Odds Are 1 in <%= @challenge.odds %></h4>
      <h4 class="challenge-ready-text">CHALLENGE READY!</h4>
      <h3 class="start-countdown btn btn-default"> START COUNTDOWN! <span class="count"></span> </h3>
    <% end %>

    <% unless @challenge.status == "dead" || @challenge.status == "completed" || @challenge.status == "declined" %>
      <div class="row answers">
        <div class="col-md-6 answer-box">
          <% if challenger? %>
            <h3>YOUR GUESS</h3>
          <% else %>
            <h3>THEIR GUESS</h3>
          <% end %>
          <div class="show-answers" >
            <%= @challenge.challenger_guess %><br>
          </div>
        </div>

        <div class="col-md-6 answer-box">
          <% if challengee? %>
            <h3>YOUR GUESS</h3>
          <% else %>
            <h3>THEIR GUESS</h3>
          <% end %>
          <div class="show-answers" >
            <%= @challenge.challengee_guess %></h1>
          </div>
        </div>
      </div>
    <% end %>

    <% if @challenge.challenge_activated? %>
      <div class="submit-video">
        <%= form_for @challenge, :html => {class: "add-video-form"}, :multipart => true do |f| %>

        <div class="col-md-8 col-md-offset-2">
          <div id="container" class="new_camera">
            <h4>Challenge Complete?</h4>
            <%= f.text_area :response_message, placeholder: 'What did you do to complete the challenge?' %>
          </div>
        <!-- | <a id="record-button">Record Audio</a> |
          <a id="stop-button">Stop</a> |
          <a id="save-button">Save</a> | -->
          <%= f.hidden_field :status, :value => 'completed' %>
          <br>
          <%= f.submit "Send Proof!", class: "btn btn-default" %>
        </div>
        <% end %>
      </div>
    <% end %>
  </div><!--challenge block-->

  <div class="challenge-posts col-md-6">
    <%= render partial: 'partials/posts' %>
  </div>
</div><!--row-->


<script type="text/javascript">
$(document).ready(function(){
  $(".start-countdown").click(function(){
    var counter = 3;
    var countdown = $('.count')
    var showAnswers = $('.show-answers')
    var showExpirationDate = $('.expiration-date')
    // var showAnswers = document.getElementById("show-answers")

    setInterval(function() {
      if (counter >= 0) {
        countdown.css('display', 'block');
        countdown.html(counter);
      }
      if (counter === 0) {
          // document.getElementById("show-answers").style.display="block"
          showAnswers.css('display', 'block')
          countdown.toggle();
          showExpirationDate.css('display', 'block')
      }
      counter--;
    }, 1000);
  });

})

</script>
