<!DOCTYPE html>
<html>
<head>
  <title>What Are The Odds</title>

  <meta property="og:url"                content="https://odds-roulette.herokuapp.com" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="What Are The Odds" />
  <meta property="og:description" content="I just got challenged! Check out a preview of the upcoming app!" />

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= stylesheet_link_tag    'animate', media: 'all' %>
  <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag "//cameratag.com/v7/js/cameratag.js" %>

  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1"></head>
<body>

<%= render partial: 'partials/main_navigation' %>
<main>
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>">
          <%= value %>
        </div>
      <% end %>
      <%= yield %>
    </div>
</main>
<%= render partial: 'partials/footer' %>

</body>
</html>
